In [258]:
import pandas as pd

In [259]:
def clean_fangraphs_season(csvpath, suffix):
    file = pd.read_csv(csvpath)
    if csvpath == 'projected_2017.csv':
        file.iloc[665, 0] = 'Rob Wooten'
        file.iloc[826, 0] = 'Rob Wooten'
    file['ID'] = file.Player.str.replace("’", '').str.replace('.', '').str.replace('-', '')
    file['ID'] = file.ID.str.extract(r'\s(\b[a-zA-Z]{1,5})[A-z]*$') + file.ID.str.extract(r'(^[A-z]{2})')
    file['ID'] = file.ID.str.lower()
    file['ID'] = file.ID.astype(str) + '01'
    cols = file.columns.tolist()
    new_cols = [cols[-1]] + [i for i in cols[0:-1]]
    file_v2 = file[new_cols]
    new_names = [(i,i+ suffix) for i in file_v2.iloc[:, 2:].columns.values]
    file_v2.rename(columns = dict(new_names), inplace=True)
    return file_v2

In [260]:
projected_2017_c = clean_fangraphs_season('projected_2017.csv', '_2017')
projected_2018_c = clean_fangraphs_season('projected_2018.csv', '_2018')
projected_2019_c = clean_fangraphs_season('projected_2019.csv', '_2019')

In [251]:
projected_2017_c.sort_values('Player')

,ID,Player,Team_proj_2017,T_proj_2017,Age_proj_2017,G_proj_2017,GS_proj_2017,IP_proj_2017,K_proj_2017,BB_proj_2017,...,BABIP_proj_2017,ERA_proj_2017,FIP_proj_2017,ERA-_proj_2017,FIP-_proj_2017,K/9_proj_2017,BB/9_proj_2017,HR/9_proj_2017,ERA+_proj_2017,zWAR_proj_2017
641,blairaa01,A.A. Ron Blair,Atlanta Braves,R,25,26,26,139.3,126,60,...,0.303,4.78,4.59,116,114,8.14,3.88,1.23,82,0.5
311,achteaj01,A.J. Achter,Detroit Tigers,R,28,53,0,71.3,51,25,...,0.292,4.92,5.00,116,118,6.44,3.16,1.51,84,-0.4
1159,coleaj01,A.J. Cole,Washington Nationals,R,25,26,25,136.0,114,42,...,0.288,4.63,4.84,111,117,7.54,2.78,1.59,87,0.8
602,griffaj01,A.J. Griffin,Texas Rangers,R,29,21,21,109.7,93,37,...,0.287,4.76,4.90,109,115,7.63,3.04,1.64,88,0.8
650,minteaj01,A.J. Minter,Atlanta Braves,L,23,33,0,33.7,42,14,...,0.284,3.48,3.57,84,88,11.22,3.74,1.07,113,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,godleza01,Zack Godley,Arizona Diamondbacks,R,27,66,0,74.7,70,30,...,0.299,4.22,4.34,96,103,8.43,3.61,1.20,99,0.2
723,greinza01,Zack Greinke,Arizona Diamondbacks,R,33,28,28,172.3,153,40,...,0.280,3.60,3.77,82,89,7.99,2.09,1.15,116,3.6
573,jonesza01,Zack Jones,Minnesota Twins,R,26,32,0,35.7,42,27,...,0.300,4.54,4.56,106,107,10.59,6.81,1.01,91,0.0
917,thornza01,Zack Thornton,New York Mets,R,29,48,0,54.7,44,20,...,0.291,4.45,4.10,112,98,7.24,3.29,0.99,84,-0.3
900,wheelza01,Zack Wheeler,New York Mets,R,27,17,17,97.0,85,42,...,0.295,4.18,4.33,105,104,7.89,3.90,1.02,90,0.8

In [261]:
#  projected_2017_c.to_csv('projected_2017_c.csv', index = False)
#  projected_2018_c.to_csv('projected_2018_c.csv', index = False)
#  projected_2019_c.to_csv('projected_2019_c.csv', index = False)

In [143]:
projected_2019_c = clean_fangraphs_season('projected_2019.csv', '_2019')

In [139]:
inner_join = projected_2017_c.merge(projected_2018_c, left_on =['ID', 'Player'], 
                                    right_on = ['ID', 'Player'], how = 'inner')

In [150]:
outer_join = projected_2017_c.merge(projected_2018_c, left_on =['ID', 'Player'], 
                                right_on = ['ID', 'Player'], how = 'outer')

In [152]:
o_join[l_join.BABIP_2017.isna()]

,ID,Player,Team_2017,T_2017,Age_2017,G_2017,GS_2017,IP_2017,K_2017,BB_2017,...,BABIP_2018,ERA_2018,FIP_2018,ERA-_2018,FIP-_2018,K/9_2018,BB/9_2018,HR/9_2018,ERA+_2018,zWAR_2018
1316,meisiry,Ryan Meisinger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.294,3.86,3.87,87.0,85.0,7.98,3.59,0.80,111.0,0.9
1317,longlu,Lucas Long,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.299,5.67,5.66,128.0,125.0,6.38,2.76,1.97,75.0,-0.3
1318,meansjo,John Means,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.300,5.70,5.63,129.0,124.0,5.98,2.82,1.85,75.0,-0.3
1319,akinke,Keegan Akin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.298,5.84,5.81,132.0,128.0,7.82,5.42,1.67,72.0,-0.4
1320,wojcias,Asher Wojciechowski,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.306,5.84,5.63,132.0,124.0,7.56,3.32,2.01,73.0,-0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1735,alvarca,Carlos Alvarado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.308,4.82,4.78,116.0,116.0,9.11,4.64,1.38,81.0,-0.3
1736,halstry,Ryan Halstead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.303,5.17,5.22,125.0,127.0,7.47,2.30,1.91,75.0,-0.4
1737,knighdu,Dusten Knight,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.302,5.17,5.14,124.0,125.0,8.53,4.39,1.55,75.0,-0.5
1738,blackvi,Vic Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.295,6.39,6.50,154.0,158.0,7.58,9.71,1.18,61.0,-0.9
1739,johnsjo,Jordan Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.300,5.83,5.94,140.0,144.0,6.44,4.60,1.74,67.0,-0.9

In [199]:
s = pd.Series(['a1', 'b2', 'c3'])

In [203]:
s.str.extract(r'([ab])?(\d)')[1]

0    1
1    2
2    3
Name: 1, dtype: object

In [256]:
projected_2017_c[projected_2017_c.ID == 'rothmi01']

,ID,Player,Team_proj_2017,T_proj_2017,Age_proj_2017,G_proj_2017,GS_proj_2017,IP_proj_2017,K_proj_2017,BB_proj_2017,...,BABIP_proj_2017,ERA_proj_2017,FIP_proj_2017,ERA-_proj_2017,FIP-_proj_2017,K/9_proj_2017,BB/9_proj_2017,HR/9_proj_2017,ERA+_proj_2017,zWAR_proj_2017
1274,rothmi01,Michael Roth,San Francisco Giants,L,27,28,20,126.7,75,50,...,0.294,4.97,4.97,125,125,5.33,3.55,1.14,75,-0.6